<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine on
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{HTTP_HOST} ^kid-game.ir$ [NC,OR]
    RewriteCond %{HTTP_HOST} ^www.kid-game.ir$
    RewriteCond %{REQUEST_URI} !public/
    RewriteRule ^(.*) /public/$1 [L]

</IfModule>
